<section class="section features">
  <div class="container">
    <div class="features__slogan">Every day your home faces countless potential threats. Every day you face countless potential headaches. A small problem can become a major disaster. Early warning signs exist but often you can't hear or see them.</div>

    <div class="features-bg">
      <img src="assets/img/features/dot-bg.png" alt="">
    </div>

    <div class="features__inner">
      <div class="features-illustration">
        <img src="assets/img/features/illustration.png" alt="">
      </div>
  
      <div class="features__col">
        <h2 class="section__title">FEATURES</h2>
        <h3 class="section__subtitle">Meet Siphome</h3>

        <div class="features__desc">The most comprehensive smart solution to home maintenance. All it takes is a simple and affordable sensor installation by one of our Siphome certified technicians.</div>

        <div class="features__items">
          <div class="features__item">
            <img src="assets/img/features/threat-icon.svg" alt="" class="features__item-icon">
  
            <h5 class="features__item-title">Automatic Threat Detection</h5>
            <p class="features__item-text">Siphome reacts the moment your equipment fails, alerting you to the problem.</p>
          </div>

          <div class="features__item">
            <img src="assets/img/features/diagnostic-icon.svg" alt="" class="features__item-icon">
  
            <h5 class="features__item-title">Smart Diagnostics</h5>
            <p class="features__item-text">See exactly what is malfunctioning and compare your maintenance options on the same screen.</p>
          </div>

          <div class="features__item">
            <img src="assets/img/features/disaster-icon.svg" alt="" class="features__item-icon">
  
            <h5 class="features__item-title">Disaster Prevention</h5>
            <p class="features__item-text">Predictive analytics lets you see what needs maintenance before it fails.</p>
          </div>

          <div class="features__item">
            <img src="assets/img/features/service-icon.svg" alt="" class="features__item-icon">
  
            <h5 class="features__item-title">A24/7 Service​</h5>
            <p class="features__item-text">Siphome monitors your critical systems 24/7 so you can enjoy peace of mind.</p>
          </div>
        </div>
        <!-- /.features__items -->
      </div>
      <!-- /.features__col -->
    </div>
    <!-- /.features__inner -->
  </div>
</section>