<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">Imagine your <br>
        home smart enough <br>
        <span>to take care</span> of itself.
      </h1>
  
      <div class="hero__subtitle">
        Turn your home into a smarthome today with a simple &
        affordable upgrade. Discover the upgrade that automates
        home maintenance.
      </div>
  
      <div class="hero-buttons">
        <button class="button button-primary">Get Started</button>
        <button class="button">Learn More</button>
      </div>
      
      <img class="img hero-image__large" src="assets/img/hero/hero-img-large.jpg" alt="">
      <img class="img hero-image__small" src="assets/img/hero/hero-img-small.jpg" alt="">
    </div>
  </div>
  <!-- .container -->
</section>