<section class="section services">
  <div class="container">
    <h2 class="section__title">Services</h2>
    <h3 class="section__subtitle">Bring more systems into the network</h3>
    <p class="services__desc">Find out just how far Siphome can lead your home into next-gen intelligence.</p>

    <img class="img services__img" src="assets/img/services/services-img.png" alt="">

    <div class="services__wrapper">
      <div>
        <img class="img" src="assets/img/services/management.svg" alt="">
        <p class="services__text">Mobile Command Management</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/equipment.svg" alt="">
        <p class="services__text">Equipment Optimizer</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/lifecycle.svg" alt="">
        <p class="services__text">Lifecycle Prediction</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/troubleshooting.svg" alt="">
        <p class="services__text">Troubleshooting Guide</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/energy.svg" alt="">
        <p class="services__text">Energy Optimizer</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/diagnostics.svg" alt="">
        <p class="services__text">Smart Diagnostics</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/scan.svg" alt="">
        <p class="services__text">Vital Equipment Scan</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/alerts.svg" alt="">
        <p class="services__text">Smart Alerts</p>
      </div>

      <div>
        <img class="img" src="assets/img/services/maintenance.svg" alt="">
        <p class="services__text">Preventative 
          Maintenance</p>
      </div>
    </div>
  </div>
</section>