<section class="section update">
  <img class="update-bg" src="assets/img/update/dot-left.png" alt="">
  <div class="container">
    <div class="update__inner">
      <div class="update__left-col">
        <div class="update__header">
          <h2 class="section__title">Update</h2>
          <h3 class="section__subtitle">It starts with an upgrade</h3>
        </div>

        <div class="update__img">
          <img class="img" src="assets/img/update/update-images.png" alt="">
        </div>
      </div>

      <div class="update__right-col">
        <div class="update__items">
          <div class="update__item">
            <div class="update__item-icon">
              <img src="assets/img/update/monitor-icon.svg" alt="">
            </div>
            <div class="update__item-content">
              <h5 class="update__item-title">Monitor</h5>
              <p class="update__item-text">Make your standard systems smart with Siphome. A simple installation or integration and we can start to monitor 24/7 to make sure your home is Siphome.</p>
            </div>
          </div>

          <div class="update__item">
            <div class="update__item-icon">
              <img src="assets/img/update/maintenance-icon.svg" alt="">
            </div>
            <div class="update__item-content">
              <h5 class="update__item-title">Maintenance</h5>
              <p class="update__item-text">Siphome helps you maintain your home. The HomeHealth Record ensures you have the right information at the right time, and if you aren’t able to do the maintenance yourself, we can connect you to a service pro to help.</p>
            </div>
          </div>

          <div class="update__item">
            <div class="update__item-icon">
              <img src="assets/img/update/repair-icon.svg" alt="">
            </div>
            <div class="update__item-content">
              <h5 class="update__item-title">Repair</h5>
              <p class="update__item-text">Siphome empowers you with smart notifications so you can make repairs before they become problems. Notifications provide diagnostics and recommended next actions so you know what to do and have the same information as your service pro.</p>
            </div>
          </div>

          <div class="update__item">
            <div class="update__item-icon">
              <img src="assets/img/update/replace-icon.svg" alt="">
            </div>
            <div class="update__item-content">
              <h5 class="update__item-title">Replace</h5>
              <p class="update__item-text">Improve your home over time. Build your next-gen smart home with Siphome’s advice along the way.</p>
            </div>
          </div>
        </div>
      <!-- /.update__items -->
      </div>
    </div>
    <!-- /.update__inner -->
  </div>
  <!-- /.container -->
</section>