// Colors
$logo-color: #fff
$nav-text-color: #fff
$hero-bg: #FBFCFF
$hero-text-main: #fff
$hero-text-sec: #1ECE7A
$button-bg: #1ECE7A
$button-text: #fff
$button-login: #262B35
$text-main-color: #606C84
$section-title: #1C57C9
$section-subtitle: #262B35
$update-text-color: #fff

// Shadow
$shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
$shadow-services: 0px 6px 48px rgba(0, 0, 0, 0.1)