// Colors
$logo-color: #fff
$nav-text-color: #fff
$hero-bg: #FBFCFF
$hero-text-main: #fff
$hero-text-sec: #1ECE7A
$button-bg: #1ECE7A
$button-text: #fff
$button-login: #262B35
$text-main-color: #606C84